DJANGO_SECRET_KEY=change-this-secret
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=beaconshector
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=127.0.0.1
DB_PORT=5432
DB_SSLMODE=prefer

CORS_ALLOWED_ORIGINS=http://localhost:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000

MQTT_BROKER=broker.hivemq.com
MQTT_PORT=1883
MQTT_TOPIC=sigi/ble/telemetry
MQTT_USER=
MQTT_PASSWORD=
MQTT_QOS=0
MQTT_DEVICE_ID_MAP=DD:34:02:0B:FF:79=TEST-001
