@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 226, 232, 240; /* slate-200 */
  --background-start-rgb: 2, 6, 23; /* slate-950 */
  --background-end-rgb: 15, 23, 42; /* slate-900 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}
